/* Colors */
.c-base-1 {
  color: #ffffff !important;
}
.c-base-2 {
  color: #ffffff !important;
}
.bg-base-1 {
  background-color: #ffffff !important;
}
.bg-base-2 {
  background-color: #ffffff !important;
}
/* Typography */
body {
  font-family: '';
}
a.link--style-2 {
  color: #ffffff !important;
}
a.link--style-2:hover {
  color: #ffffff !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: '' !important;
}
.heading {
  font-family: '' !important;
}
.heading--base {
  font-family: '' !important;
}
/* Navbar */
.navbar-nav .nav-link {
  font-family: '';
}
.navbar--style-1 .navbar-nav .nav-link:focus,
.navbar--style-1 .navbar-nav .nav-link:hover,
.navbar--style-1 .navbar-nav .show .nav-link,
.navbar--style-1 .navbar-nav .show .nav-link:focus,
.navbar--style-1 .navbar-nav .show .nav-link:hover,
.navbar--style-1 .navbar-nav .show .nav-link::after,
.navbar--style-1 .navbar-nav .nav-link:hover::after,
.navbar--style-1 .navbar-nav .nav-link:focus::after,
.navbar--style-1 .navbar-nav .show .nav-link,
.navbar--style-1 .navbar-nav .show .nav-link:focus,
.navbar--style-1 .navbar-nav .show .nav-link:hover {
  background: transparent;
  color: #ffffff;
}
.navbar--style-1 .navbar-nav .show .nav-link::after,
.navbar--style-1 .navbar-nav .nav-link:hover::after,
.navbar--style-1 .navbar-nav .nav-link:focus::after {
  color: #ffffff;
}
.navbar--style-2 .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.4);
  background: transparent;
}
.navbar--style-2 .navbar-nav .nav-link:focus,
.navbar--style-2 .navbar-nav .nav-link:hover,
.navbar--style-2 .navbar-nav .show .nav-link,
.navbar--style-2 .navbar-nav .show .nav-link:focus,
.navbar--style-2 .navbar-nav .show .nav-link:hover {
  color: rgba(0, 0, 0, 0.7) !important;
  background: transparent!important;
}
.navbar-inverse .dropdown-menu .dropdown-item:hover {
  color: #ffffff;
}
.navbar.bg-base-1 {
  background-color: #ffffff;
}
.navbar.bg-base-2 {
  background-color: #ffffff;
}
.navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar-nav .dropdown-menu .dropdown-item:hover {
  color: #ffffff;
}
/* Top Bar */
.top-navbar .top-navbar-menu > ul.top-menu > li > a:hover,
.top-navbar .top-navbar-menu ul.top-menu > li ul.sub-menu > li > a:hover,
.top-navbar--inverse .top-navbar-menu > ul.top-menu > li > a:hover,
.top-navbar .top-navbar-links .top-bar-date a:hover,
.top-navbar .top-navbar-links .top-bar-link a:hover,
.top-navbar .topbar-login > li a:hover {
  color: #ffffff;
}
.top-navbar .top-navbar-menu ul.top-menu > li ul.sub-menu > li > .language-active {
  background: #ffffff;
}
.top-navbar-currency-language li,
.top-navbar .top-navbar-links .top-bar-date a,
.top-navbar .top-navbar-links .top-bar-date span,
.top-navbar .top-navbar-links .top-bar-link a,
.top-navbar .top-navbar-links .top-bar-link span,
.top-navbar .topbar-login > li a {
  font-family: '';
}
/*

----

COMPONENTS: Summary

----

1. Alerts
2. Badges
3. Blocks
4. Buttons
5. Cards
6. Carousels
7. Collapse
8. Datepicker
9. Delimiters,
10. Dropdown
11. Footer
12. Forms
13. Icon blocks
14. List groups
15. Lists
16. Masks
17. Modal
18. Nav pills
19. Pagination
20. Popovers
21. Pricing
22. Progress
23. Rading
24. Section separators
25. Section titles
26. Social
27. Tables
28. Timeline
*/
/* 1. Alerts */
/* 2. Badges */
.badge-duration {
  color: #ffffff;
}
.badge-corner-base-1 {
  border-top-color: #ffffff;
}
.ribbon.bg-base-1 {
  border-right: 5px solid #ffffff;
}
.ribbon.bg-base-1:before {
  border-top: 27px solid #ffffff;
}
.ribbon.bg-base-1:after {
  border-bottom: 27px solid #ffffff;
}
.ribbon.bg-base-2 {
  border-right: 5px solid #ffffff;
}
.ribbon.bg-base-2:before {
  border-top: 27px solid #ffffff;
}
.ribbon.bg-base-2:after {
  border-bottom: 27px solid #ffffff;
}
/* Blocks */
.block {
  border-radius: '0' '0' '0';
  -moz-border-radius: '0' '0' '0';
}
.block-author .author-info .author-name > a:hover {
  color: #ffffff;
}
.overlay-label {
  font-family: '';
}
.block-ribbon-fixed {
  border-radius: '0';
}
.block-image-holder .mask {
  border-radius: '0';
}
.block-image-holder:not(.no-radius) .block-image img {
  border-radius: '0';
}
.block-image-holder .block-info.block-info-over {
  border-radius: 0 0 '0' '0';
}
.block-image-holder .block-info.block-info-over--animated:hover {
  border-radius: '0';
}
.block-image-holder .block-info-over.block-info-over--style-2 {
  border-radius: '0';
}
.block.block--style-1.grid .block-category {
  color: #ffffff;
}
.block--style-2 .block-image {
  border-top-left-radius: '0';
  border-bottom-left-radius: '0';
}
.block--style-2 .block-body {
  border-top-right-radius: '0';
  border-bottom-right-radius: '0';
}
.block--style-2.grid .block-image {
  border-top-left-radius: '0';
  border-top-right-radius: '0';
}
.block--style-2.grid .block-body {
  border-radius: '0';
}
.block--style-3 img {
  border-radius: '0' '0' 0 0;
}
.block--style-3 .block-price {
  color: #ffffff;
}
.block--style-3 ul.aux-info li {
  font-family: '';
}
.block--style-3-v2 img {
  border-radius: '0';
}
.block--style-4 .info-author .author-info {
  border-bottom-left-radius: '0';
}
.block--style-4-v2 .block-body {
  border-radius: '0';
}
.block--style-4-v2 .block-body.bg-base-1:after {
  border-top-color: #ffffff;
}
.block--style-4-v2 .style-8-author {
  border-bottom-left-radius: '0';
  border-bottom-right-radius: '0';
}
.block--style-5 .block-image img {
  border-radius: '0';
}
.block--style-5 .block-mask-caption--over {
  border-radius: '0';
}
.block-quote .quote-icon {
  color: #ffffff;
}
.block-testimonial > .quote {
  color: #ffffff;
}
.block-testimonial > .block-body {
  border-radius: '0';
}
.block.article img {
  border-radius: '0';
}
.block.article .meta-tags a {
  color: #ffffff;
}
.block.article .video-hover-play a:hover:before {
  background: #ffffff;
}
.block.article.grid .article-category {
  color: #ffffff;
}
.block.article.list .article-label {
  border-radius: '0';
}
.block.article.list .article-category {
  color: #ffffff;
}
.article-wrapper .article-title > a:hover {
  color: #ffffff;
}
.block.product .product-title a:hover {
  color: #ffffff;
}
.block.property .block-content .content-title {
  color: #ffffff;
}
.block.property .block-content .price {
  color: #ffffff;
}
.block-post-comments--style-1 {
  border-radius: '0';
}
.block-cell .block-text p.price {
  color: #ffffff;
}
/* 4. Buttons */
.btn {
  font-family: '';
}
.btn-base-1 {
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-base-1:active,
.btn-base-1.active,
.btn-base-1:focus,
.btn-base-1:hover {
  background: #e6e6e6;
}
.btn-base-1.btn-outline {
  border-color: #ffffff !important;
}
.btn-base-1.btn-outline:active,
.btn-base-1.btn-outline:focus,
.btn-base-1.btn-outline:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-base-2 {
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-base-2:active,
.btn-base-2.active,
.btn-base-2:focus,
.btn-base-2:hover {
  background: #e6e6e6;
}
.btn-base-2.btn-outline {
  border-color: #ffffff !important;
}
.btn-base-2.btn-outline:active,
.btn-base-2.btn-outline:focus,
.btn-base-2.btn-outline:hover {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
/* Cars */
.card {
  border-radius: '0';
}
@media (min-width: 992px) {
  .card-sticked-bottom {
    border-radius: '0' '0' 0 0;
  }
}
.card-flip .card-back {
  border-radius: '0';
}
.card-fill--hover:hover i {
  color: #ffffff !important;
}
.card-body--overlap {
  border-radius: '0';
}
.card-title > .btn-aux:hover > .aux-text {
  color: #ffffff;
}
.card.bg-base-1 .card-title-wrapped {
  background: #f7f7f7;
  border: 1px solid #f2f2f2;
}
@media (min-width: 768px) {
  .row-no-padding [class^=col-]:first-child .card-colored {
    border-radius: '0' 0 0 '0';
  }
  .row-no-padding [class^=col-]:last-child .card-colored {
    border-radius: 0 '0' '0' 0;
  }
}
.card-image img,
.card-image > .view {
  max-width: 100%;
  border-radius: '0' '0' 0 0;
}
.card-horizontal .card-image img {
  border-radius: '0' 0 0 '0';
}
.card-blockquote > footer {
  color: #ffffff;
}
.card-outer-quote {
  color: #ffffff;
}
.card-hover--animation-1:hover .btn {
  background: #ffffff;
  border-color: #ffffff;
}
/* 6. Carousel */
.carousel--style-1 .carousel-control.right {
  border-top-left-radius: '0';
  border-bottom-left-radius: '0';
}
.carousel--style-1 .carousel-control.left {
  border-top-right-radius: '0';
  border-bottom-right-radius: '0';
}
/* 7. Collapse */
.accordion-cards--stacked .card:first-child {
  border-top-left-radius: '0';
  border-top-right-radius: '0';
}
.accordion-cards--stacked .card:last-child {
  border-bottom-left-radius: '0';
  border-bottom-right-radius: '0';
}
.accordion-cards--spaced .card {
  border-radius: '0';
}
.accordion--style-3 .card-header > .card-title > a[aria-expanded="true"],
.accordion--style-4 .card-header > .card-title > a[aria-expanded="true"] {
  color: #ffffff !important;
}
/* 9. Delimiters */
.delimiter-left-thick--style-1 {
  border-left: 4px solid #ffffff;
}
.sd-1:before {
  background: #ffffff;
}
.sd-base-1:before {
  background: #ffffff;
}
.vd--1:before {
  background-color: #ffffff;
}
/* 10. Dropdowns */
.dropdown-menu.dropdown-menu-sm {
  border: '0';
}
.dropdown-menu.dropdown-menu-lg {
  border-radius: '0';
}
.dropdown-menu.dropdown-menu-xl {
  border-radius: '0';
}
.dropdown--style-2 .dropdown-image {
  border-radius: '0';
}
/* 12. Footer */
.footer--style-1 {
  background: #ffffff;
}
/* 13. Forms */
.form-base-1 .form-control,
.form-base-1 .input-group-addon {
  background: #e6e6e6;
  border-color: #e0e0e0;
}
.form-base-1 .form-control:focus {
  background: #e6e6e6;
  border-color: #e0e0e0;
}
.form-base-2 .form-control {
  background: #e6e6e6;
  border-color: #e0e0e0;
}
.form-base-2 .form-control:focus {
  background: #e6e6e6;
  border-color: #e0e0e0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before,
.checkbox-primary input[type="radio"]:checked + label::before {
  background-color: #ffffff;
  border-color: #ffffff;
}
.radio-primary input[type="radio"] + label::after {
  background-color: #ffffff;
}
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #ffffff;
}
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #ffffff;
}
.product-size label:hover {
  color: #ffffff;
  cursor: pointer;
  border-color: #ffffff;
}
.product-size input:checked ~ label {
  color: #ffffff;
  border-color: #ffffff;
}
/* 14. Icon blocks */
.feature--boxed-border {
  border-radius: '0';
}
a > .feature--boxed-border:hover {
  border-color: #ffffff;
}
.block-icon.rounded {
  border-radius: '0';
}
.icon-block--style-1-v1 .block-icon > .icon-number,
.icon-block--style-1-v1 .block-icon i {
  color: #ffffff;
}
.icon-block--style-1-v3 .block-icon {
  border: 1px solid #ffffff;
}
.icon-block--style-1-v3 .block-icon i {
  color: #ffffff;
}
.icon-block--style-1.v3 .block-icon i {
  color: #ffffff;
}
.icon-block--style-1-v5.active .block-icon {
  color: #ffffff !important;
}
.icon-block--style-1-v5.block-bordered-grid-animated:hover .block-inner::after {
  border: 2px solid #ffffff;
}
.icon-block--style-2-v2.active .block-icon,
.icon-block--style-2-v2:hover .block-icon {
  border-color: #ffffff;
  background: #ffffff;
}
.icon-block--style-3-v1 > i {
  color: #ffffff;
}
.icon-block--style-4 .block-icon {
  background: #ffffff;
}
.icon-block--style-4:hover .block-icon::after {
  border: 3px solid #ffffff;
}
.icon-block--arrow .block-icon {
  border-radius: '0';
}
.icon-block--arrow .block-icon:after {
  border-top-color: #ffffff;
}
/* 15. Lists */
ul.icons li > a:hover {
  color: #ffffff;
}
ul.inline-links > li > a:hover > heading {
  color: #ffffff;
}
ul.inline-links.inline-links--style-2 > li:before {
  color: #ffffff;
}
.list-wrapper {
  background: #ffffff;
  border-radius: '0';
}
.sidebar .list-unstyled > li:hover > a {
  color: #ffffff;
}
.list-recent .post-author a:hover {
  color: #ffffff;
}
.list-recent .post-title a:hover {
  color: #ffffff;
}
.list-icon--style-1 i {
  color: #ffffff;
}
/* 16. Masks */
.mask-base-1--style-1 {
  background: rgba(255, 255, 255, 0.9);
}
.mask-base-1--style-2 {
  background: rgba(255, 255, 255, 0.5);
}
.mask-base-1--style-3 {
  background: rgba(255, 255, 255, 0.7);
}
.mask-base-2--style-1 {
  background: rgba(255, 255, 255, 0.9);
}
.mask-base-2--style-2 {
  background: rgba(255, 255, 255, 0.5);
}
.mask-base-2--style-3 {
  background: rgba(255, 255, 255, 0.7);
}
/* 17. Modals */
.modal-content {
  border-radius: '0';
}
.modal[data-modal-color=base-1] .modal-content {
  background-color: #ffffff;
}
.modal[data-modal-color=base-2] .modal-content {
  background-color: #ffffff;
}
/* 18. Nav pills */
/* 19. Pagination */
/* 20. Pricing */
.pricing-plans--style-1 .block-pricing.active {
  background: #ffffff;
}
.pricing-plans--style-2 .block-pricing.active .plan-title {
  background: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.promos.bg-base-1 .promo {
  background: #ffffff;
}
.promos.bg-base-2 .promo {
  background: #ffffff;
}
.promos.bg-base-1 .scale {
  box-shadow: 0 0 4px 1px #e6e6e6;
}
.promos.bg-base-2 .scale {
  box-shadow: 0 0 4px 1px #e6e6e6;
}
@media (max-width: 767px) {
  .promo {
    border-radius: '0';
  }
}
/* 21. Progress */
